/**
 * FishArmor Custom Fonts
 * Gazzetta (Headlines) and Barlow (Body)
 */

/* Gazzetta - Bold (Headlines) */
@font-face {
  font-family: 'Gazzetta';
  src: url('fonts/gazzetta-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Barlow - Light */
@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Barlow - Regular */
@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Barlow - Medium */
@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Barlow - Semi-Bold */
@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Barlow - Bold */
@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Set custom font variables */
:root {
  --font-heading-family: 'Gazzetta', Georgia, serif;
  --font-body-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
